@font-face {
    font-family: 'noita';
    src: url(https://vignette.wikia.nocookie.net/pcj/images/a/a4/NoitaPixel.ttf) format('truetype')
}


html {
	background-color: #0d0c0c;
}

img {
	image-rendering: pixelated;
}

.wand-sprite {
    image-rendering: pixelated;
    margin-bottom: 10px;
	z-index: 100;
    vertical-align: middle;
}

* {
	font-family: 'noita';
}

*:not(option,select) {
	color: white;
}

label {
	user-select: none;
}
