@font-face {
    font-family: 'noita';
    src: url(https://vignette.wikia.nocookie.net/pcj/images/a/a4/NoitaPixel.ttf) format('truetype')
}

:root {
	--grab-brightness: 1.0;
}


html {
	background-color: #0d0c0c;
}

img {
	image-rendering: pixelated;
}

.wand-sprite {
    image-rendering: pixelated;
    margin-bottom: 10px;
	z-index: 100;
    vertical-align: middle;
	user-select: none;
	-webkit-user-drag: none;
}

.wands {
    margin-top: 40px;

}

* {
	font-family: 'noita';
}

*:not(option,select) {
	color: white;
}

label {
	user-select: none;
}

#wands {
	margin-left: 31%;
}

@media screen and (max-width: 600px) {
	
#wands {
	margin-left: 0%;
}  
.sidebar a {
    text-align: center;
    float: none;
}

}
::-webkit-scrollbar {
	width: 8px;
}
::-webkit-scrollbar-thumb {
	background: #948064;
	border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
	background: #806a4b; 
  }
::-webkit-scrollbar-track {
	background-color: #94806420;
}

wand-element {
    display: block;
}

#grab-element {
	visibility: hidden;
	position: fixed;
    pointer-events: none;
	z-index: 20;
}

#grab-element.shown {
	visibility: visible;
}

spell-element:hover {
	filter: brightness(var(--grab-brightness));
}